.ta-c{
    text-align: center;
}

.footer-icon-box a{
    font-size: 3rem;
}


.brand-text {
    font-family: cursive;
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.799);
    vertical-align:middle
}

.disp-f{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}